#.gradle
#/build/
#!gradle/wrapper/gradle-wrapper.jar
#
#### STS ###
#.apt_generated
#.classpath
#.factorypath
#.project
#.settings
#.springBeans
#
#### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
#
#### NetBeans ###
#nbproject/private/
#build/
#nbbuild/
#dist/
#nbdist/
#.nb-gradle/


#*
#!.gitignore
#!src/
#!src/*
#!./comm_core
#!./rest_api
#!build.gradle
#!settings.gradle

